<a [routerLink]="['/products', product().id]" class="card-link">
  <mat-card class="card">
    <div class="img-box">
      <span class="initial">{{ product().name.charAt(0) }}</span>
      <button class="wishlist-toggle" (click)="toggleWishlist($event)" aria-label="Toggle wishlist">
        <mat-icon [class.wishlisted]="wishlistStore.isInWishlist(product().id)">
          {{ wishlistStore.isInWishlist(product().id) ? 'favorite' : 'favorite_border' }}
        </mat-icon>
      </button>
    </div>
    <mat-card-content class="info">
      <p class="name">{{ product().name }}</p>
      <div class="price">
        <span class="dollar">$</span>
        <span class="whole">{{ getWhole() }}</span>
        <span class="cents">{{ getCents() }}</span>
      </div>
      @if (product().stock > 0) {
        <p class="stock in">In stock</p>
      } @else {
        <p class="stock out">Unavailable</p>
      }
      <p class="cat">{{ product().category?.name }}</p>
    </mat-card-content>
  </mat-card>
</a>
